body{
    margin: 0;
    background-color: rgba(208, 255, 239, 0.63);

    
}

.main-game{
    height: 100vh;
    width: 100vw;
    display: flex;
    justify-content: center;
    align-items: center;

}

.genius{
    display: grid;
    grid-template-areas: 'um dois tres' 'quatro cinco seis' 'sete oito nove';
    grid-gap: 10px;
    background-color: transparent;
    width: 700px;
    height: 400px;

}

.um{
    grid-area:  um;
    background-color: rgba(0, 0, 255, 0.767);
}

.dois{
    grid-area:  dois;
    background-color: rgba(0, 0, 255, 0.767);
}

.tres{
    grid-area:  tres;
    background-color: rgba(0, 0, 255, 0.767);
}

.quatro{
    grid-area:  quatro;
    background-color: rgba(0, 0, 255, 0.767);
}

.cinco{
    grid-area:  cinco;
    background-color: rgba(0, 0, 255, 0.767);
}

.seis{
    grid-area:  seis;
    background-color: rgba(0, 0, 255, 0.767);
}

.sete{
    grid-area:  sete;
    background-color: rgba(0, 0, 255, 0.767);
}

.oito{
    grid-area:  oito;
    background-color: rgba(0, 0, 255, 0.767);
}

.nove{
    grid-area:  nove;
    background-color: rgba(0, 0, 255, 0.767);
}



.selected {
    background-color: red;
}

.selected2 {
    background-color: rgba(112, 10, 99, 0.603);
}

.botao{
    border-radius: 2%;
}